* {
    margin: 0;
    padding: 0;
    background-image: url(photo-1608178398319-48f814d0750c.avif);
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 25vmin 0 0 25vmin;
    width: 70%;
    height: 60vmin;
    display: flex;
    justify-content: center;
    gap: 1.5vmin;
}
.container img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5vmin;
    border: 0.3vmin solid white;
    transition: all ease-in-out 0.5s;
}
.container img:hover {
    width: 25%;
}